@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');




* {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    box-sizing: border-box;

}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    display: flex;
    background-color: #fff;
    width: 700px;
    height: 500px;
    background-image: url('./images/image-product-desktop.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: 0;
    
}

.img-container {
    width: 350px;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    

}


.content-container h3 {
    text-transform: uppercase;
    color: rgb(107, 107, 107);
    font-weight: 200;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;

}

.content-container h1 {
    text-transform: uppercase;
    color: #222;
    font-weight: bold;
    margin-bottom: 20px;


}

.content-container p {
    color: rgb(107, 107, 107);
    font-weight: 100;
    margin-bottom: 20px;
    font-family: 'Fraunces', serif;

}

.content-container .price {
    color: hsl(158, 36%, 37%);
    font-size: 40px;
    font-weight: bold;
}

.content-container .price span {
    color: rgb(107, 107, 107);
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;


}

#btn {

    color: #fff;
    padding: 10px 15px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}


#btn:hover {

    background-color: hsl(159, 65%, 17%);
    cursor: pointer;
}

@media (max-width:729px) {
    .container {
        width: 500px;
        background-size:contain;
        z-index:1;
    }
    .img-container {
        width: 250px;
    }
    .content-container {
       
        width: 250px;
        padding: 20px;
        z-index:2;
        background-color: #fff;
    }
    .content-container h3 {
        font-size: 15px;
    }
    .content-container h1 {
        font-size: 25px;
    }
    
    .content-container p {
        font-size: 15px;
    }
    .content-container .price {
        font-size: 25px;
    }
    
    .content-container .price span {
        font-size: 14px;
    }
        
}

@media (max-width:512px) {
    .container {
        width: 350px;
        background-size:contain;
        z-index:1;
    }
    .img-container {
        width: 175px;
    }
    .content-container {
       
        width: 175px;
        padding: 10px;
        z-index:2;
        background-color: #fff;
    }
    .content-container h3 {
        font-size: 10px;
    }
    .content-container h1 {
        font-size: 20px;
    }
    
    .content-container p {
        font-size: 10px;
    }
    .content-container .price {
        font-size: 20px;
    }
    
    .content-container .price span {
        font-size: 14px;
    }
        
}


@media (max-width:390px) {
    .container {
        width: 330px;
        flex-direction: column;
        
    }
    .img-container {
        width: 330px;
        height: 250px;
    }
    .content-container {
       
        width: 330px;
        padding: 10px;
        margin: 0;
        height: 250px;
        background-color: #fff;
        
    }
    .content-container h3 {
        font-size: 10px;
    }
    .content-container h1 {
        font-size: 20px;
    }
    
    .content-container p {
        font-size: 10px;
    }
    .content-container .price {
        font-size: 20px;
    }
    
    .content-container .price span {
        font-size: 14px;
    }
        
}